body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #141414;
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline; 
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.youtuber-section {
    margin: 40px;
}

.video-grid {
    display: flex; 
    flex-wrap: wrap; 
}

.video-item {
    background-color: white; 
    border-radius: 8px; 
    margin: 10px; 
    padding: 10px; 
    width: calc(25% - 20px); /* Ajuste o tamanho como preferir */
}

.video-item img {
    width: 100%; 
    border-radius: 8px; 
}

footer {
    text-align: center; 
    padding: 20px; 
}